<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".ViewModelTestActivity"></activity>
        <activity android:name=".ViewModelFirstActivity"></activity>
        <activity android:name=".ViewModelSecondActivity"></activity>
        <activity android:name=".ViewModelFragmentActivity"></activity>
    </application>
</manifest>